<!--加载头部文件-->
{include file="public/header" /}




<title>合作社-生产基地</title>
</head>


<!--加载头部顶端文件-->
{include file="public/top1" /}




<div class="centBox">
	<div class="neiye clearfix">
    	<div class="neiyeL">
        	<div class="banL noel">
       	 		 <div class="lanmu">
       		  		<ul>
                    	<li><a href="{:url('cooperate/index')}" >合作社介绍</a></li>
                        <li><a href="{:url('product/index')}" >产品介绍</a></li>
                        <li><a href="{:url('technical/index')}" >技术支持</a></li>
                        <li><a href="{:url('trade/index')}">行业前景</a></li>
                        <li><a href="{:url('rich/index')}">致富故事</a></li>
                        <li><a href="{:url('production/index')}"  class="xuanz">生产基地</a></li>
                    </ul>
          		</div>
      		</div>
            <div class="dianhua">
            	<div class="dianhua_top">联系电话</div>
                <div class="dianhua_text">
               	  联  系  人：陈波 （总裁） <br />
                	电       话 ：86 0838 7102727<br />
                	移动电话 ：	138-8180-1576<br />
                	传       真 ：86 0838 7102771<br />
               	地       址 ：	中国 四川 德阳市四川省德阳市中江县双龙镇                </div>
            </div>
        </div>
        <div class="neiyeR">
        	<div class="neiBT">
            	<span class="mianT_span">生产基地 | BASE</span>
            </div>
            <div class="base clearfix">
            	<img src="__STATIC__/index/text/17.gif" alt="" />
                <img src="__STATIC__/index/text/18.gif" alt="" />
                <img src="__STATIC__/index/text/19.gif" alt="" />
          </div>
        </div>
    </div> 
</div>




<!--加载脚部文件-->
{include file="public/footer" /}