<script>
    var CODE={
        'image_url':"{:url('admin/Image/image_line')}",
        'upload_swf':'__STATIC__/admin/uploadify/uploadify.swf',
    };
</script>
{load href="__STATIC__/admin/lib/jquery/1.9.1/jquery.min.js" /}
<script type="text/javascript" charset="utf-8" src="__STATIC__/editor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/editor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/editor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script>
{load href="__STATIC__/admin/common/js/common.js" /}
{load href="__STATIC__/admin/common/js/admin_image.js" /}
{load href="__STATIC__/admin/uploadify/jquery.uploadify.min.js" /}
