<!--加载头部文件-->
{include file="public/header" /}



<title>交易专区</title>
</head>

<!--加载头部顶端文件-->
{include file="public/top" /}

<div class="nav">
    	<div class="nav_nei">
        	<div class="natebia_ji"></div>
        	<div class="natebia"><a href="#" class="natebia_a">特别推荐</a></div>
            <div class="navR">
            	<ul>
                	<li class="navR_bg"><a href="{:url('message/index')}" >给我留言</a></li>
                    <li><a href="{:url('trading/index')}" class="xuanz">交易专区</a></li>
                    <li><a href="{:url('industry/index')}" >行业动态</a></li>
                	<li><a href="{:url('index/index')}" >网站首页</a></li>
                </ul>
            </div>
        </div>
    </div>

<div class="centBox">
	<div class="neiye clearfix">
	
	
    	<!--加载合作文件-->
		{include file="public/cooperate" /}
		
		
        <div class="neiyeR">
        	<div class="neiBT">
            	<span class="mianT_span">行业信息 | INFORMATION </span>
            </div>
            <div class="neiText">
            	<div class="neiIfino">
                	<ul>
                    	<li class="neiNt l">全部分类</li>
                    	<li class="r"><a href="#">其他</a></li>
                        <li class="r"><a href="#">特产类</a>|</li>
                        <li class="r"><a href="#">蔬果类</a>|</li>
                        <li class="r"><a href="#">养殖类</a>|</li>
                        <li class="r"><a href="#">农机械类</a>|</li>
                    	<li class="r"><a href="#" class="xuanz">农作物类</a>|</li> 
                    </ul>
                </div>
                <div class="tuwenli clearfix">
                	<ul>
                    	<li>
                    	<p><a href="#"><img src="__STATIC__/index/text/3.gif" width="208" height="177" alt="" /> 中江挂面</a></p>
                    	<p><a href="#" class="yuyue_a"></a></p>
                    </li>
                    <li>
                    	<p><a href="#"><img src="__STATIC__/index/text/4.gif" width="208" height="177" alt="" /> 中江柚</a></p>
                    	<p><a href="#" class="yuyue_a"></a></p>
                    </li>
                    <li>
                    	<p><a href="#"><img src="__STATIC__/index/text/5.gif" width="208" height="177" alt="" /> 中江白芍</a></p>
                    	<p><a href="#" class="yuyue_a"></a></p>
                    </li>
                    <li>
                    	<p><a href="#"><img src="__STATIC__/index/text/6.gif" width="208" height="177" alt="" /> 中江丹参</a></p>
                    	<p><a href="#" class="yuyue_a"></a></p>
                    </li>
                    <li>
                    	<p><a href="#"><img src="__STATIC__/index/text/7.gif" width="208" height="177" alt="" /> 中江竹编</a></p>
                    	<p><a href="#" class="yuyue_a"></a></p>
                    </li>
                    <li>
                    	<p><a href="#"><img src="__STATIC__/index/text/8.gif" width="208" height="177" alt="" /> 中江八宝油糕</a></p>
                    	<p><a href="#" class="yuyue_a"></a></p>
                    </li>
                    <li>
                    	<p><a href="#"><img src="__STATIC__/index/text/3.gif" width="208" height="177" alt="" /> 中江挂面</a></p>
                    	<p><a href="#" class="yuyue_a"></a></p>
                    </li>
                    <li>
                    	<p><a href="#"><img src="__STATIC__/index/text/4.gif" width="208" height="177" alt="" /> 中江柚</a></p>
                    	<p><a href="#" class="yuyue_a"></a></p>
                    </li>
                    <li>
                    	<p><a href="#"><img src="__STATIC__/index/text/5.gif" width="208" height="177" alt="" /> 中江白芍</a></p>
                    	<p><a href="#" class="yuyue_a"></a></p>
                    </li>
                    </ul>
                </div>	
                <div class="feiye">
                    	<ul>
                        	<li><input type="submit" value="确定" class="feiye_ban" />
                            <li>到第<input name="" type="text" class="feiye_ingp" />页</li>
                            <li><a href="#">下一页</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#" class="xuanz">1</a></li>
                        	<li><a href="#" class="feiye_hs">上一页</a></li>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
    </div> 
</div>



<!--加载脚部文件-->
{include file="public/footer" /}