<!--加载头部文件-->
{include file="public/header" /}



<title>合作社-行业前景</title>
</head>

<!--加载头部顶端文件-->
{include file="public/top1" /}



<div class="centBox">
	<div class="neiye clearfix">
    	<div class="neiyeL">
        	<div class="banL noel">
       	 		 <div class="lanmu">
       		  		<ul>
                    	<li><a href="{:url('cooperate/index')}" >合作社介绍</a></li>
                        <li><a href="{:url('product/index')}" >产品介绍</a></li>
                        <li><a href="{:url('technical/index')}" >技术支持</a></li>
                        <li><a href="{:url('trade/index')}"  class="xuanz">行业前景</a></li>
                        <li><a href="{:url('rich/index')}">致富故事</a></li>
                        <li><a href="{:url('production/index')}">生产基地</a></li>
                    </ul>
          		</div>
      		</div>
            <div class="dianhua">
            	<div class="dianhua_top">联系电话</div>
                <div class="dianhua_text">
               	  联  系  人：陈波 （总裁） <br />
                	电       话 ：86 0838 7102727<br />
                	移动电话 ：	138-8180-1576<br />
                	传       真 ：86 0838 7102771<br />
               	地       址 ：	中国 四川 德阳市四川省德阳市中江县双龙镇                </div>
            </div>
        </div>
        <div class="neiyeR">
        	<div class="neiBT">
            	<span class="mianT_span">行业前景 | OUTLOOK</span>
            </div>
            <div class="outlook clearfix">
            	<img src="__STATIC__/index/text/20.gif" />
              截止2009年底，已建成县城工业集中发展区面积6平方公里，加上乡镇特色工业小区，已集聚规模以上企业107家，比上年增加18家，占全县规模以上企业总数的71.3%，实现工业总产值66.2亿元。县城工业集中区有规模以上企业54家，实现工业总产值39.5亿元，工业增加值10.63亿元，主营业务收入38.8亿元，利税总额10082万元，利润总额6325万元，分别占到了全县规模以上企业的44.4%、46.4%、44.5%、31.9%、31.5%。工业集中发展区已经成为县域经济发展的重要载体和排头兵          </div>
      </div>
    </div> 
</div>

<!--加载脚部文件-->
{include file="public/footer" /}


