    <div class="neiyeL">
        	<div class="banL noel">
       	 		 <div class="yuyue">
       		  		<p><a href="#"><img src="__STATIC__/index/text/1.gif" width="232" height="213" alt="" />
             		 中江瓜蒌</a></p>
              		<p><a href="#" class="yuyue_a"></a></p>
          		</div>
      		</div>
            <div class="hezuo">
           	<div class="hezuo_top">推荐合作单位</div>
                 <div class="hezuo_text">
					<ul>
						<li><a href="{:url('cooperate/index')}"><img src="__STATIC__/index/text/9.gif" width="206" height="60" alt="" /></a></li>
						<li><a href="{:url('cooperate/index')}"><img src="__STATIC__/index/text/10.gif" width="206" height="60" alt="" /></a></li>
						<li><a href="{:url('cooperate/index')}"><img src="__STATIC__/index/text/11.gif" width="206" height="60" alt="" /></a></li>
						<li><a href="{:url('cooperate/index')}"><img src="__STATIC__/index/text/12.gif" width="206" height="60" alt="" /></a></li>
						 <li><a href="{:url('cooperate/index')}"><img src="__STATIC__/index/text/13.gif" width="206" height="60" alt="" /></a></li>
					</ul>
				</div>
          </div>
        </div>