<body>
<div class="centBox">
	<div class="top">
    	<span>【<a href="{:url('login/index')}">登陆管理</a> 】 【<a href="{:url('login/loginout')}">退出管理</a> 】   【<a href="{:url('trading/index')}">前往采购</a>】  【<a href="{:url('message/index')}">联系我们</a>】</span>
    	{:session('admin.username')}您好！欢迎来到中江县名优产品展销平台!     您遇到任何疑问请致电：0838 -6668888   
    </div>
    <div class="top2">
    	<div class="top2R">
        	<div class="soru">
            	<input name="" type="text" class="soru_input" />
            </div>
            <input name="" type="submit" class="soru_banu" />
        </div>
    	<div class="logo">
        	<a href="#" class="logo_a">中江名优特产</a>
        </div>
    </div>
</div>



<div class="nav">
    	<div class="nav_nei">
        	<div class="natebia_ji"></div>
        	<div class="natebia"><a href="#" class="natebia_a">中江县宏波养殖</a></div>
      <div class="navR">
            	<ul>
                	<li class="navR_bg"><a href="{:url('message/index')}" >给我留言</a></li>
                    <li><a href="{:url('trading/index')}" >交易专区</a></li>
                    <li><a href="{:url('industry/index')}" class="xuanz">行业动态</a></li>
                	<li><a href="{:url('index/index')}" >网站首页</a></li>
                </ul>
            </div>
        </div>
    </div>