<!--加载头部文件-->
{include file="public/header" /}


<title>行业动态</title>
</head>

<!--加载头部顶端文件-->
{include file="public/top" /}

<div class="nav">
    	<div class="nav_nei">
        	<div class="natebia_ji"></div>
        	<div class="natebia"><a href="#" class="natebia_a">特别推荐</a></div>
            <div class="navR">
            	<ul>
                	<li class="navR_bg"><a href="{:url('message/index')}" >给我留言</a></li>
                    <li><a href="{:url('trading/index')}" >交易专区</a></li>
                    <li><a href="{:url('industry/index')}" class="xuanz">行业动态</a></li>
                	<li><a href="{:url('index/index')}" >网站首页</a></li>
                </ul>
            </div>
        </div>
    </div>



<div class="centBox">
	<div class="neiye clearfix">
    	
		
		<!--加载合作文件-->
		{include file="public/cooperate" /}		
		
		
        <div class="neiyeR">
        	<div class="neiBT">
            	<span class="mianT_span">行业信息 | INFORMATION </span>
            </div>
            <div class="neiText">
            	<div class="neiIfino">
                	<ul>
                    	<li class="l"><a href="#" class="xuanz">最新信息</a>|</li>
                        <li class="l"><a href="#">行业信息</a>|</li>
                        <li class="l"><a href="#">展会信息</a>|</li>
                        <li class="l"><a href="#">市场信息</a></li>
                    </ul>
                </div>
                <div class="haide">
                	<div class="haide_te">
                    	<a href="#"><img src="__STATIC__/index/text/16.gif" width="208" height="142" alt="" /></a>
                    	<h1><a href="#" class="haide_h1">供应特产极品海参</a></h1>
                        &nbsp;&nbsp;&nbsp;&nbsp;经审核批准，5种食品添加剂新品种包括焦磷酸一氢三钠、氧化亚氮、乳糖酶、柠檬酸钙(三水)、右旋糖酐酶。<br/>
　　&nbsp;&nbsp;&nbsp;&nbsp;此外，卫生部还批准乳酸钙等13种食品添加剂、白油(液体石蜡)等5种食品用加工助剂和铁等8种食品营养强化剂扩大使用范围及用量，增补已批准食品添加剂葡萄糖酸-δ-内酯的质量规格要求......
                    </div>
                    <div class="nawsTe">
                    	<ul>
                        	<li><span>2013-09-21</span><a href="#">&middot;求购玉米小麦大豆高粱</a> </li>
                            <li><span>2013-09-21</span><a href="#">&middot;求购玉米小麦大豆高粱</a> </li>
                            <li><span>2013-09-21</span><a href="#">&middot;求购玉米小麦大豆高粱</a> </li>
                            <li><span>2013-09-21</span><a href="#">&middot;求购玉米小麦大豆高粱</a> </li>
                            <li><span>2013-09-21</span><a href="#">&middot;求购玉米小麦大豆高粱</a> </li>
                            <li><span>2013-09-21</span><a href="#">&middot;求购玉米小麦大豆高粱</a> </li>
                            <li><span>2013-09-21</span><a href="#">&middot;求购玉米小麦大豆高粱</a> </li>
                            <li><span>2013-09-21</span><a href="#">&middot;求购玉米小麦大豆高粱</a> </li>
                            <li><span>2013-09-21</span><a href="#">&middot;求购玉米小麦大豆高粱</a> </li>
                        </ul>
                    </div>
                    <div class="feiye">
                    	<ul>
                        	<li><input type="submit" value="确定" class="feiye_ban" />
                            <li>到第<input name="" type="text" class="feiye_ingp" />页</li>
                            <li><a href="#">下一页</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#" class="xuanz">1</a></li>
                        	<li><a href="#" class="feiye_hs">上一页</a></li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>



<!--加载脚部文件-->
{include file="public/footer" /}

